@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Ruluko);
@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
body{
	font-family: Ubuntu;
	font-size: 15px;
	/*background-image: linear-gradient(#2A2A29, #5C5C5C);*/
	background-image: url('../images/bg.png');
	background-repeat: repeat-x;
	background-color: #2A2A29;
}
h1, h2, h3{
	font-family: Voltaire;
	font-weight: bold;
}
.wrapper, section{
	max-width: 900px;
}
#header{
	background-image: none;
}
#title h1{
	font-family: Pacifico !important;
	font-size: 60px !important;
	margin-bottom: 34px;
	text-shadow: 1px 2px #FFCC00;
}
#title p{
	font-family: Voltaire !important;
	font-size: 24px !important;
	text-shadow: 2px 2px #A75F36 !important;
	color: #FFCC00 !important;
	margin-bottom: 4px;
	z-index: 200;
}
h2 strong, h3 strong{
	font-family: Ruluko !important;
	color: #FFCC00;
}
strong{
	font-weight: bold;
}
p{
	text-align: justify;
}
section #title .credits{
	color: #CCCBCB;
}
.color-frame{
	margin-bottom: 18px;
}
.square{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 6px;
	margin-left: 8px;
	font-size: 10px;
}
code{
	padding: 0 !important;
}